langchain-community
faiss-cpu
tiktoken
openai
streamlit
beautifulsoup4
requests
replicate
python-dotenv
requests
sentence-transformers
langchain_core
python-dotenv
langchain
huggingface
huggingface-hub